body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: slategray
}

h1 {
    font-size: 75px;
}

.calcBox {
    display: flex;
    height: 800px;
    width: 600px;
    align-items: center;
    justify-content: center;
    border: solid;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 30px;
}

.calcBox button {
    width: 160px;
    height: 90px;
    font-size: 45px;
}

.calcDisplay {
    border: solid;
    border-color: powderblue; 
    background-color: aliceblue;
    padding-left: 10px;
    width: 500px;
    height: 100px;
    font-size: 75px;
}